@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  max-width: 1250px;
  width: 75%;
  margin: 0px auto;
}

@layer base {
  html {
    color: white;
    background-color: #161616;
    scrollbar-width: none;
    font-family: 'Poppins', sans-serif;
  }
}
html::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important;
}

.scroll::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important;
}

.shadow {
  -webkit-box-shadow: 400px 3px 92px 21px rgba(20, 20, 20, 1) inset;
}
